<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>
<center> Kalp | 23010101133 | 29-11-24</center>
<pre>

### 01) WAP to print “Hello World”

In [5]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [7]:
a = 10
b = 20
print(a+b)

30

In [9]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
print(a+b)

Enter 1st number 1
Enter 2nd number 2

3

### 03) WAP to check the type of the variable.

In [13]:
a = 10
type(a)

int

### 04) WAP to calculate simple interest.

In [17]:
p = int(input("Enter princiapl amount"))
r = int(input("Enter annual rate"))
t = int(input("Enter time period in years"))

sip = (p*r*t)/100
print(sip)

Enter princiapl amount 100
Enter annual rate 1
Enter time period in years 1

1.0

### 05) WAP to calculate area and perimeter of a circle.

In [19]:
r = float(input("Enter radius if circle"))
p = 2*3.14*r
a = 3.14*r*r
print("perimeter of Circle is",end=" ")
print(p)
print("Area of Circke is",end=" ")
print(a)

Enter radius if circle 100

628.0 31400.0

### 06) WAP to calculate area of a triangle.

In [21]:
base = float(input("Enter base of triangle"))
alti = float(input("Enter base of triangle"))
area = 0.5*base*alti
print("Area of triangle is",end=" ")
print(area)

Enter base of triangle 10
Enter base of triangle 10

Area of triangle is 50.0

### 07) WAP to compute quotient and remainder.

In [25]:
a=5
b=2
print(a%b)
print(a//b)

1
2

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [45]:
c = float(input("Enter degree in celcius"))
f = float(input("Enter degree in fahrenhite"))

fah = (c*(9/5))+32
cel = (5/9)*(f-32)
print("Temperature in Fahrenheit is :",fah)
print("Temperature in Celcius is :",cel)

Enter degree in celcius 50
Enter degree in fahrenhite 100

Temperature in Fahrenheit is : 122.0
Temperature in Celcius is : 37.77777777777778

### 09) WAP to find the distance between two points in 2-D space.

### 09) WAP to find the distance between two points in 2-D space.

In [43]:
import math
x1 = int(input("Enter value of x1"))
x2 = int(input("Enter value of x2"))
y1 = int(input("Enter value of y1"))
y2 = int(input("Enter value of y2"))

dist = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print("Distance between two points is :",dist)

Enter value of x1 1
Enter value of x2 4
Enter value of y1 2
Enter value of y2 6

Distance between two points is : 5.0

### 10) WAP to print sum of n natural numbers.

In [17]:
n = int(input("Enter a number:"))
i=1
sum = 0
if i<=n:
    sum = n*(n+1)/2
    i = i+1
    print("Sum of first n natural numbers is :",sum)

Enter a number: 5

Sum of %n natural numbers is : 15.0

### 11) WAP to print sum of square of n natural numbers.

In [39]:
n = int(input("Enter day"))
sum = (n * (n + 1) * (2 * n + 1)) / 6
print("Sum of square of n natural number is :",sum)

Enter day 2

Sum of square of n natural number is : 5.0

### 12) WAP to concate the first and last name of the student.

In [35]:
fn = input("Enter first name")
ln = input("Enter last name")
print(fn+ln)

Enter first name kalp
Enter last name Katba

kalp Katba

### 13) WAP to swap two numbers.

In [29]:
a = int(input("Enter a"))
b = int(input("Enter b"))
temp = a
a = b
b = temp

print(a,b)

Enter a 4
Enter b 6

6 4

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [25]:
km = int(input("Enter distance in Km : "))
meter = km*1000
feet = km*3.28084
inches = km*1000*39.3701
cm = km*100000
print("Meter :",meter)
print("feet :",feet)
print("inches :",inches)
print("Centimeters :",cm)

Enter distance in Km :  1000

Meter : 1000000
feet : 3280.84
inches : 39370100.0
Centimeters : 100000000

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [21]:
d = int(input("Enter day"))
m = int(input("Enter month"))
y = int(input("Enter year"))

print(d,m,y, sep="-")

Enter day,month,year 12
Enter month 11
Enter year 24

12-11-24